<article class="container">
    <form name="userForm" #form="ngForm" autocomplete="off" *ngIf="registrationService.RegisteredUserData" (submit)="onSubmit(form)">
        <div class="row">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-4">
                <div class="">
                
                <h3><i class="fa fa-shield"></i> Register now</h3>
                <hr>
                <div class="form-group">
                <label class="control-label" for="">Email Address</label>
                <input name="UserName" #UserName= "ngModel" [(ngModel)]="registrationService.RegisteredUserData.UserName" type="text" class="form-control" placeholder="Email Address">
                <label ng-show="userForm.UserName.$dirty && userForm.UserName.$error.required" style="color:#990000">* Required field</label>
                </div>

                <div class="form-group">
                <label class="control-label" for="">Password</label>
                <input name="pwd" #Password= "ngModel" [(ngModel)]="init_password" type="password" class="form-control" placeholder="Password">
                <label ng-show="userForm.UserName.$dirty && userForm.pwd.$error.required" style="color:#990000">* Required field</label>
                </div>

                <div class="form-group">
                <label class="control-label" for="">Repeat Password</label>
                <input name="repwd" #RepeatPassword= "ngModel" [(ngModel)]="repeat_password" type="password" class="form-control" placeholder="Password">
                <label ng-show="userForm.repwd.$dirty && userForm.repwd.$error.required" style="color:#990000">* Required field</label>
                </div>


                <div class="form-group">

                      <label for="dateOfBirth">Date of Birth</label>
                    
                      <input id="dateOfBirth" name="dateOfBirth" [(ngModel)]="dob"
                    
                              type="text" bsDatepicker class="form-control" />
                    
                    </div>

              
            
                <small>
                    By clicking Submit, you agree to our Terms and that you have read our
                    Data Use Policy, including our Cookie Use.
                </small>	 
                <div style="height:10px;"></div>
                <div class="form-group">
                <label class="control-label" for=""></label>
                <input type="submit" class="btn btn-primary" style="background: #990000;">
                </div>	 

                </div>
            </div>
        </div>
</form>
</article>